/*
* {
    border: 1px grey solid;
}
*/
/*
@media print {
    body {
    width: 21cm;
    height: 29.7cm;
    }
}
*/

body {
    display: flex;
    flex-direction: row;
    font-size: 1.8vw;
    font-family: Arial, Helvetica, sans-serif;
}
/* GAUCHE ////////////////////////////////////////////*/
#gauche {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 30vw;
    padding: 2%;
    background-color: black;
    color: rgb(255, 115, 0);
}
#identite {
    font-size: 3vw;
    width: 100%;
    text-align: center;
    margin-bottom: 1em;
}
#name {
    margin: 0px;
}
#age {
    font-size: 3vw;
    color: white;
}
#photo_id {
    width: 20vw;
    margin-bottom: 2em;
}

.header_h2 {
    background-color: rgb(255, 115, 0);
    color: black;
    padding: 1%;
}
#gauche>section {
    align-items: flex-start;
    margin-bottom: 1em;
}
#gauche>section>ul {
    margin: 0px;
    text-align: left;
}
#gauche>aside>ul>li {
    color: white;
    text-align: left;
    margin-bottom: 0.7vh;
}

/* DROITE ///////////////////////////////////////////////*/
#droite {
    width: 70vw;
}

#projets {
    display: flex;
    flex-direction: column;
}
article {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
article > p, ul {
    margin-left: 5%;
    margin-top: 0%;
}
#hobby_text {
    margin-left: 5%;
    margin-right: 5%;
}
#parcours {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#liste_parcours {
   display: flex;
   flex-direction: column;
   margin-left: 5%;
   margin-right: 5%;
}
.droite_h2 {
    background-color: black;
    width: 100%;
    color: rgb(255, 115, 0);
    padding: 1%;
    margin-left: 0%;
    text-align: center;
    font-size: 3vw;
}
h3 {
    background-color: rgb(255, 115, 0);
    color: white;
    margin-left: 3%;
    margin-top: 0%;
    padding: 1%;
}
#real {
    margin-top: 0%;
    padding-top: 1em;
}
li {
    list-style: square;
    text-align: justify;
}
