/*
* {
    border: 1px grey solid;
}
*/
body {
    background: linear-gradient(165deg, #000000, #ff5e00);
    font-size: 1.2em;
    color: white;
}
#name {
    margin: 2%;
}
#photo_id {
    width: 15%;
    position: absolute;
    top: 3%;
    right: 3%;
    border: 2px white solid;
    border-radius: 7px;
    box-shadow: 3px 3px 3px white;
}
#infos {
    width: 40%;
    margin: 1%;
    padding: 1%;
    border: 1px white solid;
    border-radius: 7px;
    box-shadow: 3px 3px 3px white;
    background: linear-gradient(165deg, #000000, #ff5e00);
}
h2 {
    text-align: center;
}
li {
    list-style: none;
}
#competences {
    width: 65%;
    margin: 1%;
    padding: 1%;
    border: 1px white solid;
    border-radius: 7px;
    box-shadow: 3px 3px 3px white;
    background: linear-gradient(165deg, #000000, #ff5e00);
}
#projets {
    margin: 1%;
    border: 1px white solid;
    border-radius: 7px;
    box-shadow: 3px 3px 3px white;
    background: linear-gradient(165deg, #000000, #ff5e00);
}
#proj {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
article {
    width: 45%;
    margin: 1%;
    padding: 1%;
    border: 1px white solid;
    border-radius: 7px;
    box-shadow: 3px 3px 3px white;
    background: linear-gradient(165deg, #000000, #ff5e00);
}
#hobby {
    padding: 0 2% 2% 2%;
    border: 1px white solid;
    border-radius: 7px;
    box-shadow: 3px 3px 3px white;
    background: linear-gradient(165deg, #000000, #ff5e00);
}

#parcours {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    padding: 1%;
    border: 1px white solid;
    border-radius: 7px;
    box-shadow: 3px 3px 3px white;
    background: linear-gradient(165deg, #000000, #ff5e00);
}